<ion-tabs>
  <ion-tab [root]="tab1Root" [rootParams]="searchId" tabTitle="All devices" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab2Root" [rootParams]="searchId" tabTitle="Search device" tabIcon="search"></ion-tab>
</ion-tabs>
