<ion-header>
  <ion-navbar>
    <ion-title>
      Devices
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of devices" (click)="itemOnClick(item)">
    <ion-row >

      <ion-col col-2>{{ item.time | date:'HH:mm:ss' }}</ion-col>
      <ion-col col-7>{{ item.devEUI }}</ion-col>
      <ion-col col-3>{{ item.perc | number:'.1' }}% ({{item.rssi}})</ion-col>

    </ion-row>
    </button>
  </ion-list>
</ion-content>
