<ion-header>
  <ion-navbar>
    <ion-title>Device Search</ion-title>
  </ion-navbar>
  <ion-searchbar
    [(ngModel)]="searchedDevEUI"
    [showCancelButton]="false"
    [debounce]="1000"
    (ionInput)="onInput($event)">
  </ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-row *ngFor="let item of devices">

      <ion-col col-9>{{ item.time | date:'HH:mm:ss' }}</ion-col>
      <ion-col col-3>{{ item.perc | number:'.1' }}% ({{item.rssi}})</ion-col>

    </ion-row>
  </ion-list>
</ion-content>
